.ZhangHao{
    height: 44px;
    background: #f5f5f5;
}
.ZhangHao_1{
    height: 44px;
    width: 1200px;
    margin: 0 auto;
}
.ZhangHao_2{
    float: left;
    padding-top: 12px;
    font-size: 16px;
    color: #858585;
}
.ZhangHao_3{
    color: #858585;
}
